In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('C:/Users/Rajkumar singh/Desktop/ml_data/data.csv')

In [3]:
data.head()

,1. CRIM,2. ZN,3. INDUS,4. CHAS,5. NOX,6. RM,7. AGE,8. DIS,9. RAD,10. TAX,11. PTRATIO,12. B,13. LSTAT,14. MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2